body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
}

.tableau .style {
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: wheat;
    margin: 100px auto;
    border: 2px solid red;
}

thead tr {
    background-color: snow;
    color: whitesmoke;
    text-align: left;
}

th, td {
    padding: 15px 20px;
    color: black;
}

tbody, tr, td, th {
    border: 1px solid gray;
}

tbody tr:nth-child(even) {
    background-color: lavender;
}